@model ShowViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="card card-body my-3">
    <form asp-action="Index" method="get">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <select 
                    name="category"  
                    class="form-select" 
                    asp-items="@(new SelectList(Model.Categories, "CategoryId", "Name", Model.SelectedCategory))">
                        <option value="0">All Shows</option>
                    </select>
                </div>
                <div class="col-md-11">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </div>
        </div>
    </form>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="width: 100px">@Html.DisplayNameFor(m => m.Shows[0].ShowId)</th>
            <th style="width: 150px;">@Html.DisplayNameFor(m => m.Shows[0].Image)</th>
            <th>@Html.DisplayNameFor(m => m.Shows[0].ShowTitle)</th>
            <th style="width: 100px;">@Html.DisplayNameFor(m => m.Shows[0].ShowRate)</th>
            <th style="width: 200px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var shw in @Model.Shows)
        {
            <tr>
                <td>@shw.ShowId</td>
                <td>
                    <img src="~/img/@shw.Image" class="img-fluid" alt="">
                </td>
                <td>@shw.ShowTitle</td>                
                <td>@shw.ShowRate</td>
                <td>
                    <a href="" class="btn btn-sm btn-primary">Edit</a>
                    <a href="" class="btn btn-sm btn-primary">Details</a>
                    <a href="" class="btn btn-sm btn-danger">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>